// Used Controls:["button","grid","input","checkbox","dropdownlist","multiselect","editor"]
$base-theme:Material;
$skin-name:customgrid;
$swatch-name:Material;
$border-radius: 2px;
$primary-palette-name: teal;
$secondary-palette-name: red;
$theme-type: dark;
